In [1]:
import numpy as np
import pandas as pd

In [2]:
snips_dataset_fp = '../data/snips_dataset.csv'

In [3]:
df = pd.read_csv(snips_dataset_fp)

In [8]:
df.sample(10)

                                                    text                 label
6503   i need to book a table at bridge round house i...        BookRestaurant
10474          rate this current essay 1 out of 6 points              RateBook
1716   book a gibassier serving tavern in vermont for...        BookRestaurant
5300   put anna grigorjewna semenowitsch in all out 0...         AddToPlaylist
8261            find an album called stumble stop repeat    SearchCreativeWork
10367  add of rivers and religion to my sexy as folk ...         AddToPlaylist
4998   book a table for six at the cherry street tave...        BookRestaurant
12547  find the schedule for to shoot an elephant at ...  SearchScreeningEvent
5494   please book a brasserie restaurant for eight i...        BookRestaurant
6104           book a restaurant in swaziland in 1 hour         BookRestaurant

In [14]:
df['label'].value_counts()

GetWeather              2087
PlayMusic               2077
BookRestaurant          2068
SearchCreativeWork      2051
AddToPlaylist           2035
RateBook                2002
SearchScreeningEvent    1938
Name: label, dtype: int64